.dashboard{
    background-color: #FFF;
    height: 100vh;
}

.dashboard h1 {
    font-family: var(--font-family-p);
}

.dashboard__line {
    border-bottom: .5px solid black;
    padding-top: 5%;
}

.dashboard__single {
    margin: 0 30px;
}

.dashboard__selection {
    display: flex;
    justify-content: center;
    align-items: center;
}