.news{
    display:flex;
    flex-direction: row;
}

.news__container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.news__featured {
    width: 60%;
    float: left;
    margin-left: 100px;
}
.news__latest{
    width: 20%;
    float: right;
    margin-right: 20px;
}

.news__latest-header h1 {
    font-family: var(--font-family-m);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 17px;
    letter-spacing: 0.05rem;
    color: var(--black);
}

.latest__bar{
    width: 100px;
    height: 10px;
    background-color: var(--dark-red);
    margin-left: 10px;
}

.news__latest-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.news__navbar{
    position: absolute;
    margin-top: 37%;
    margin-left: 100px;
}
.news__logo {
    position: absolute;
    top: 1%;
    right: 1%;
}
@media screen and (max-width: 1209px) {
    .news__latest{
        width: 30%;
    }
    .news__featured{
        width: 55%;
    }
    .news__navbar {
        margin-top: 34%;
    }
}
@media screen and (max-width: 875px){
    .news__header{
        display: flex;
        flex-direction: column;
        margin-top: 600px;
    }
    .news__navbar{
        display: none;
    }
    .news__latest {
        width: 100%;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .news__featured{
        width: 100%;
        margin-left: 0;
        margin-top: 200px;
    }
}
@media screen and (max-width: 550px) {
    .news__header{
        margin-top: 500px;
    }
    .news__latest-header h1{
        font-size: 1rem;
        color: var(--dark-red);
    }
    .latest__bar{
        height: 6px;
    }
}